/* 项目中用到的样式 */
.topbar {
	background-color:#CCCCFF;
}

.item-projectlist {
	background-color:#ADD8E6;
	/*border:solid 1px red;*/
	display:inline-block;
	margin:10px;
	float:left;
	width:300px;
	padding:5px;
}

#project-info {
	line-height: 200%;
	background: #CCCCFF;
	padding: 2px 10px;

}
.project-info span{
  	background-color: #EEEEEE; 
}

