<?php

$CONFIG = array();
$CONFIG['theme'] = 'v/default';
$CONFIG['compiled_template'] = 'v/_run';

$CONFIG['database'] = array(
	'host' 		=> 'localhost',
	'port' 		=> '3306',
	'username' 	=> 'demo',
	'password' 	=> 'demopass',
	'database' 	=> 'demodatabase',
	);



